

table{
    border: thin solid gainsboro;
}
.total_pages{
    font-size: 9px;
}

#search_result{

    text-align: center;
}
.search-glass:before{
    content: "\26B2" ;
    font-size:2em;
    transform: rotate(300deg);
    margin-top: -12px;
    display: inline-block;
}
.search-glass:hover{
    color: white;


}
#search_glass{
    width: 5.555%;
    height: 14px;
    border-radius: 0 4px 4px  0;
    float: right;
    text-transform: uppercase;

    margin-right: -3px;
    border: thin solid #000000;
    margin-top: -3px;
    padding:   6px 0;


    background: #b8d5c3;


}




/****** Style Star Rating Widget *****/


.rating_content{


    border-radius: 0 2px 0 2px;
    position: absolute;
    background: #000000;
    padding:8px 8px;
    box-shadow: 0 0 4px 2px #c4c4c4;
    margin-top: -30px;
    border: none;
    margin-left: 46px;
    color:white;
    z-index: 2;
    left: 350px;
    display: none;
}

.rating_content:after{

    content: close-quote;
    border-radius: 0 2px 0 2px;
    position: absolute;

    padding: 10px 10px;
    transform: rotate(40deg);
    left: -8px;


    background:  #000000;
    margin-top: 0;
    bottom: 10px;
    color:white;



}
.rating_content:before{

    content: close-quote;
    border-radius: 0 2px 0 2px;
    position: absolute;

    padding: 20px 20px;
    transform: rotate(40deg);
    left: -6px;

    margin-left: -12px;
    opacity: 0;
    background:  #000000;
    margin-top: 0;
    bottom: 10px;
    color:white;



}

.rating_content > input { display: none;  }
.rating_content > label:before {
    margin: 5px;
    font-size: 30px;

    display: inline-block;
    content: "\2605";
}

.rating_content > .half:before {
    content: "\2605";
    position: absolute;
}

.rating_content > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating_content > input:checked ~ label, /* show gold star when clicked */
.rating_content:not(:checked) > label:hover, /* hover current star */
.rating_content:not(:checked) > label:hover ~ label { color: #FFD700;  cursor: pointer; } /* hover previous stars in list */

.rating_content > input:checked + label:hover, /* hover current star when changing rating */
.rating_content> input:checked ~ label:hover,
.rating_content > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating_content > input:checked ~ label:hover ~ label { color: #FFED85;  cursor: pointer; }















#total_pages{
    padding: 14px;
    float: right;
    font-size: 11px;
    position: fixed;
    z-index: 1;
    left: 0;
    margin-top: 330px;
    border-radius: 0 2px 2px 0;
    background: gold;

} #total_pages_title{

   margin: 0;
    padding: 0;



  }
 #search_text_field{
     border: none;
     font-size: medium;
     font-weight: lighter;
     float: left;
     width: 76%;
     height: 22px;
     font-family: "Source Sans Pro", Arial, sans-serif;

 }
#search_glass:hover{
    cursor: pointer;
    background:  #2a2a2a;


}


#search_box{
    background-color: #ffffff;
    width: 600px;
    padding: 2px;
    height: 22px;
    margin-top: -8px;
    font-size: medium;
    margin-right: 110px;
    border-radius: 2px;
    border: thin solid #ffffff;
    box-shadow: 0 0 1px 1px gainsboro;
    font-family: "Source Sans Pro", Arial, sans-serif;
    text-indent: 3px;
    float: right;

}
#search_box:hover{
    background: #f1f1f1;

}
.objects_entry_point{
    border:none ;


}
.rating:hover{
    cursor: pointer;
    background: #a3a3a3;
    color: white;


}
.feelings:hover{
    cursor: pointer;
    background: #a3a3a3;
    color: white;


}

td{
    border: none;
}

.favorite:hover{
    cursor: pointer;
    background: #a32897;
    color: white;
    width: 30px;
    height: 28px;
}

.favorite{
    background: gold;
    float: left;

    margin-top: 2px;
    border-radius: 2px;

    margin-right: 12px;
    font-size: large;
    color: #2c2c2c;

    text-align: center;
    margin-left: 8px;

    width: 30px;
    height: 28px;

    border: 1px solid #a0a0a0;

}
.movie_player{
    display: none;
    margin-top: 20px;
    background: #000000;
    text-align: center;
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: radial-gradient(#111111, hsl(0, 0%, 0%));

}
.watch_trailer:hover{
    cursor: pointer;
    background: #a3a3a3;
    color: white;
}
.feelings, .rating, .watch_trailer{
    background: gold;
    float: left;

    margin-top: 2px;
    border-radius: 2px;

    margin-right: 12px;
   font-size: large;
    color: #2c2c2c;

    text-align: center;
     margin-left: 8px;

    width: 30px;
    height: 28px;

    border: 1px solid #a0a0a0;

}



.favoriteItems{
    margin-top: 80px;
    height: 140px;
    width: 77%;
    border-radius: 2px;
    background: white;
    margin-left: 14%;
    box-shadow: 0 0 4px 0 gainsboro;
}

#user_query{
    margin-left: 10px;

}
.video_player {

    box-shadow: 0 0 1px 0 #03071a;
    background: rgb(0, 0, 0);
    position: fixed;
    display: none;
    top: 93px;
    width: border-box;
    left: 0;
    right: 0;
    z-index: 1;
    padding-bottom: 64px;

    border: none;
    text-align: center;



    padding-top: 60px;

}
#video_1{
    text-align: center;
    border: 1px solid #252525;
    margin-top: -10px;
    border-radius: 6px;

    background: #868686;

    background: rgba(177, 210, 255, 0.5);


}


.video_player textarea { width: 100%; height: 100%; }

/* Show the controls (hidden at the start by default) */

.video-vegas {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
#user_query_details{
    float: right;
    margin-left: 10px;
    font-size: medium;
    color: #979797;
    font-weight: lighter;
    margin-right: 170px
}
#number_of_likes, #number_of_favorite{
    padding-bottom: 1px;
    border-bottom: 2px solid crimson;

}
#movie_count{
    color: crimson;
    font-weight:bold ;
}
.close_player:after{
    content: "X";
    font-size: small;

}
.close_player{

    color: beige;
    position: fixed;
    cursor: pointer;
    right: 30px;
    border: none;
    background: #3e3e3e;

    border-radius: 20px;
    padding: 4px 9px 4px 9px;
}


.close_player:hover{
    box-shadow:white 0 0 2px 2px;
    color: crimson;
}

.trailer{
    margin-top: 50px;
    background:black;
    cursor: pointer;
    margin-left: 3%;
}
.movie_player{
    box-shadow: 0 0 4px 0 gainsboro;

    position: fixed;
    text-align: center;

    width: border-box;
    left: 0;
    right: 0;

    bottom: 0;
    height: 520px;
    z-index: 10;
    padding-bottom: 10px;
    border: none;
    background-color:black ;



    padding-top: 34px;
}
#favorite_detail{
    margin-left: 1%;




}
.info_box{
    box-shadow: 0 0 2px 0 rgb(3, 7, 26);
    background: #0d0d0d;
    position: fixed;
    top: 64px;
    width: border-box;
    z-index: 1;
    left: 0;
    right: 0;
    padding-bottom: 4px;
    margin-bottom: 2px;
    border: none;




    padding-top: 4px;


}

.item, .req_error{
    margin-top: 38px;
    height: 10px;
    width: 77%;
    border-radius: 2px;
    background: white;
    margin-left: 14%;
    box-shadow: 0 0 4px 0 gainsboro;

}

#footer{



    box-shadow: 0 0 2px 0 rgb(3, 7, 26);
    background: #0d0d0d;
    position: fixed;
    bottom: 0;
    width: border-box;
    z-index: 1;
    left: 0;
    right: 0;
    padding-bottom: 4px;
    color: #797979;
        border: none;




    padding-top: 4px;
    font-size: 10px;

}
#emotional{

margin-top: 80px;
float: left;


}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    color: #444444;


}
#scroll_list{

      width: 100%;
      height: 533px;
      margin-top: 90px;
      margin-left: -10px;
      position: fixed;
      border-bottom: thin solid gainsboro ;
      overflow-y: scroll;

}
#menu{

    padding: 10px 15px;
    margin-right: 6px;
    background: crimson;
    color: white;
    margin-top: -22px;
    border: thin solid crimson;
    border-radius: 2px;
    font-size: larger;
    float: right;

}
#menu:hover{
    cursor: pointer;
    color: #7bbffb;

}
@media screen and (max-width: 700px)  and (orientation: portrait) {
    #search_box {

        width: 200%;
        margin-left: -4px;
        height: 36px;
    }

    #shrink_size{

        margin-left: -8px;

    }
    .table_header{
        font-size: 12.348px;
        width: 20px;


    }
}

 #heading_background{

     box-shadow: 0 0 4px 0 gainsboro;

     position: fixed;
     top: -5px;
     width: border-box;
     left: 0;
     right: 0;
     padding-bottom: 10px;
     border: none;
     background-color: #000000;

     padding-top: 34px;

 }
 #menus_list{
     text-align: center;
     margin-left: 58px;
     border: none transparent ;




 }
 .menu_list{

     background: none;
     float: left;
     font-size: 13px;
     text-transform: uppercase;
     border: none;
     color: gainsboro;
     font-weight: revert;
     margin-left: 14px;




 }
 .menu_list:focus{
    border-bottom: darkgoldenrod;
    color: #7bbffb;
}
.table_header{

    color: #a3a3a3;
    text-align: left;
    width: 10%;
    padding-bottom: 40px;
    padding-top: 10px;






}
#pages{
    padding: 10px;
    background: inherit;
    font-weight: bold;
    position: fixed;
    font-size: x-large;
    float: right;
}


.nav:hover{
     color: #33aad5;
    cursor: pointer;


}
.nav{
    margin-top: -20px;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#prev:after{
    content: "\21E6";
    padding: 0;
    color: cadetblue;
    font-size: 38px;






}
#prev:hover{
    color: crimson;

}
#next:hover{
    color: crimson;
}
#next, #prev {
    float: left;
}
#next:after{
    content: "\21E8";
    padding: 0;
    color: cadetblue;

    font-size: 38px;


}

#pages:hover{

    cursor: pointer;

}
#movie_title{
margin-top: 14px;


}
#accents:before{
    content:"\2630"
}
.logo:before{
    content: "\2210";
    color: #7bbffb;
}

#company_name{
    color: #ae0000;


    font-weight: bolder;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    float: left;
    font-size: large;
    margin: 0 40px 0 20px;
}
.release_date{
    font-size: smaller;
    margin-left: 30px;
    font-weight: normal;
    padding-bottom: 1px;
    border-bottom: 1px solid crimson;
}
.rating{
    margin-right: 4px;
}
#vote_average{

    background: gold;
    float: left;
    margin-top: -6px;
    margin-left: 12px;
    margin-right: 12px;
    font-weight: bold;
    padding: 6px;
    width: 22px;
    text-align: center;
     border-radius: 20px;

}
#overview{
    height: 60px;
    text-align: left;
    margin-left: 164px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    font-weight: lighter;
}
.menu_list:hover{
    cursor: pointer;
    border-bottom: 6px crimson solid ;

    transition-timing-function: cubic-bezier(8,9,0,9);
    color: #7bbffb;
}

#favorite-menu{
    border-bottom: 6px crimson solid ;
}